<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title}">Mi java</title>
</head>
<body>
  <h1 th:text="${title}"></h1>
  <ul>
    <div th:if="${users.isEmpty()}">No tiene elementos en al lista</div>

    <table th:if="${not users.isEmpty()}">
      <thead>
        <tr>
          <th>Name</th>
          <th>apellido</th>
          <th>email</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user: ${users}">
          <td th:text="${user.name}"></td>
          <td th:text="${user.lastname}"></td>
          <td th:if="${user.email}" th:text="${user.email}"></td>
          <td th:if="${user.email == null}"> -- </td>
        </tr>
      </tbody>
    </table>
  </ul>
</body>
</html>